.main-box{
    width: 80%;
    margin: 10px 0;
    box-shadow: 2px 2px 8px 4px #ddd;
    padding: 30px 10px ;
    /* background-color: aquamarine; */
    border-radius: 20px;
}
.main-box h1{
    text-align: center;
}
.main-box p{
    padding: 10px;
    text-align: center;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.card{
    border-radius: 15px;
    box-shadow: 1px 1px 4px 2px #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 10px;
}
.card img{
    width:200px;
    border-radius: 15px;
}