*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content{
  min-height: calc(88.9vh - 60px);
}
@media (max-width:800px) {
  .content{
    min-height: calc(88.9vh - 70px);
  }
}
@media (max-width:500px) {
  .content{
    min-height: calc(88.9vh - 80px);
  }
}